<header>
  <h1>CSS GRID</h1>
</header>
<div class="containerr">
  <header class="header">
    <h1>Logo</h1>
  </header>
  <main class="content">
    <article class="article">
      <h1>Title</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at nam
        deserunt. Odio, deleniti ab! Sit quaerat tempora incidunt labore.
      </p>
    </article>
    <article class="article">
      <h1>Title</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur,
        fugiat.
      </p>
    </article>
    <article class="article">
      <h1>Title</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, quia!
      </p>
    </article>
  </main>
  <aside class="sidebar">
    <div>
      <img src="http://lorempixel.com/300/200/sports/" alt="img1" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quia.
      </p>
    </div>
    <div>
      <img src="http://lorempixel.com/300/200/city/" alt="img2" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quia.
      </p>
    </div>
    <div>
      <img src="http://lorempixel.com/300/200/people/" alt="img3" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quia.
      </p>
    </div>
  </aside>
  <div class="relatedPost">Another post</div>
  <div class="relatedPost">Another post</div>
  <div class="relatedPost">Another post</div>
  <div class="relatedPost">Another post</div>
  <div class="relatedPost">Another post</div>
  <div class="relatedPost">Another post</div>

  <footer class="footer">
    <h4>Footer</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, illo!</p>
  </footer>
</div>
