<div class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center"><strong>Colores</strong></h4>
          <h6 class="card-subtitle text-center">Catálogo de colores</h6>

          <div class="row">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-dark mb-2 b"
                data-bs-toggle="modal"
                data-bs-target="#modalAgregarColor"
              >
                <span class="material-icons">add</span>
              </button>
            </div>
            <!-- <button (click)="rerender()">PRUEBA</button> -->
          </div>

          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table row-border hover"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Color</th>
                  <th class="text-center">Pantone</th>
                  <th class="text-center">Año</th>
                  <th class="text-center">Editar</th>
                  <th class="text-center">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let color of colores; index as i">
                  <td class="text-center">{{ i + 1 }}</td>
                  <td class="text-center">{{ color.name }}</td>
                  <td class="text-center">{{ color.color }}</td>
                  <td class="text-center">{{ color.pantone }}</td>
                  <td class="text-center">{{ color.year }}</td>
                  <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-dark mb-2 b"
                      data-bs-toggle="modal"
                      data-bs-target="#modalEditarColor"
                      (click)="getColorById(color.id)"
                    >
                      <span class="material-icons"> edit </span>
                    </button>
                  </td>
                  <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-dark mb-2 b"
                      name="btnBorrar"
                      id="btnBorrar"
                      (click)="delColor(color.id)"
                    >
                      <span class="material-icons"> delete </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Termina tabla -->
<!-- Empieza modal guardar colores -->
<div
  class="modal fade"
  id="modalAgregarColor"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  data-bs-keyboard="false"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar color</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="limpiarFormulario()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          autocomplete="off"
          [formGroup]="formColores"
          (ngSubmit)="saveColor()"
        > 
          <div class="form-group row">
            <div class="col-6">
              <label for="horaInicio">Nombre: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  id="name"
                  formControlName="name"
                  [class.is-invalid]="name"
                />
                <small class="text-danger" *ngIf="name">Campo requerido</small>
              </div>
            </div>
            <div class="col-6">
              <label for="horaFinal">Color: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="color"
                  id="color"
                  formControlName="color"
                  [class.is-invalid]="color"
                />
              </div>
              <small class="text-danger" *ngIf="color">Campo requerido</small>
            </div>
          </div>
          <div class="form-group row mt-3">
            <div class="col-6">
              <label for="boletos">Pantone: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="pantone"
                  id="pantone"
                  formControlName="pantone"
                  [class.is-invalid]="pantone"
                />
              </div>
              <small class="text-danger" *ngIf="pantone">Campo requerido</small>
            </div>
            <div class="col-6">
              <label for="horaFinalRecorrido">Año: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="year"
                  id="year"
                  formControlName="year"
                  [class.is-invalid]="year"
                />
              </div>
              <small class="text-danger" *ngIf="year">Campo requerido</small>
            </div>
          </div>
          <div class="modal-footer mt-3">
            <button
              type="submit"
              class="btn btn-dark"
              [disabled]="formColores.invalid"
              (click)="saveColor()"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-dark"
              data-bs-dismiss="modal"
              (click)="limpiarFormulario()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal editar colores -->
<div
  class="modal fade"
  id="modalEditarColor"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  data-bs-keyboard="false"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar color</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="limpiarFormulario()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          autocomplete="off"
          [formGroup]="formColoresEdit"
          (ngSumbit)="saveEdit()"
        >
          <div class="form-group row">
            <div class="col-6">
              <label for="horaInicio">Nombre: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="nameE"
                  id="nameE"
                  formControlName="name"
                  [class.is-invalid]="nameE"
                />
              </div>
              <small class="text-danger" *ngIf="nameE">Campo requerido</small>
            </div>
            <div class="col-6">
              <label for="colorE">Color: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="colorE"
                  id="colorE"
                  formControlName="color"
                  [class.is-invalid]="colorE"
                />
              </div>
              <small class="text-danger" *ngIf="colorE">Campo requerido</small>
            </div>
          </div>
          <div class="form-group row mt-3">
            <div class="col-6">
              <label for="pantoneE">Pantone: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="pantoneE"
                  id="pantoneE"
                  formControlName="pantone"
                  [class.is-invalid]="pantoneE"
                />
              </div>
              <small class="text-danger" *ngIf="pantoneE"
                >Campo requerido</small
              >
            </div>
            <div class="col-6">
              <label for="yearE">Año: </label>
              <div>
                <input
                  class="form-control"
                  type="text"
                  name="yearE"
                  id="yearE"
                  formControlName="year"
                  [class.is-invalid]="yearE"
                />
              </div>
              <small class="text-danger" *ngIf="yearE">Campo requerido</small>
            </div>
          </div>
          <div class="modal-footer mt-3">
            <button
              type="submit"
              class="btn btn-dark"
              [disabled]="formColoresEdit.invalid"
              (click)="saveEdit()"
            >
              Guardar cambios
            </button>
            <button
              type="button"
              class="btn btn-dark"
              data-bs-dismiss="modal"
              (click)="limpiarFormulario()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
